
h1{
    top:24.5rem;  
    font-size: 2rem;
}

.stories-container{
    height: 80vh; 
}

.title-p1{
    font-size: 1rem;
}

.text-p1{
    font-size: 0.7rem;
}

.text-p2{
    font-size: 0.7rem;
}

.features-container{
    height: 440vh;
}

.features-title{
    font-size: 1rem;
}

.contact-title{
    font-size: 1rem;
}

.contact-p{
    font-size: .9rem;
}

.items-font i{
    font-size: 2.5rem;
}