
h1{
    top:28rem;  
    font-size: 2rem;
}

.stories-container{
    height: 86vh; 
}

.title-p1{
    font-size: 1rem;
}

.text-p1{
    font-size: .5rem;
}

.text-p2{
    font-size: .5rem;
}

.features-container{
    display:block;
    height: 370vh;   
}

.features-title{
    font-size: 1rem;
}

.contact-title{
    font-size: 1rem;
}

.contact-p{
    font-size: .9rem;
}

.items-font i{
    font-size: 2rem;
}