h1{
    top:30rem;  
    font-size: 2.8rem;
}

.features-container{
    height: 450vh;
}

.features-title{
    font-size: 1.3rem;
}

.contact-title{
    font-size: 1.3rem;
}

.contact-p{
    font-size: 1rem;
}

.items-font i{
    font-size: 2.5rem;
}