
h1{
    top:22rem;  
    font-size: 1.5rem;
}

.stories-container{
    height: 80vh; 
}

.title-p1{
    font-size: 1rem;
}

.text-p1{
    font-size: 0.6rem;
}

.text-p2{
    font-size: 0.6rem;
}

.features-container{
    height: 450vh;
}

.features-title{
    font-size: 1rem;
}

.contact-title{
    font-size: 1rem;
}

.contact-p{
    font-size: .7rem;
}

.items-font i{
    font-size: 2rem;
}