
h1{
    top:28rem;  
    font-size: 2rem;
}

.stories-container{
    height: 80vh; 
}

.title-p1{
    font-size: 1rem;
}

.text-p1{
    font-size: 0.7rem;
}

.text-p2{
    font-size: 0.7rem;
}

.features-container{
    display:block;
    height: 450vh;
    padding:15px;
    gap: 15px;
}

.features-title{
    font-size: 1rem;
}

.contact-title{
    font-size: 1rem;
}

.contact-p{
    font-size: 1rem;
}

.items-font i{
    font-size: 2rem;
}