
h1{
    top:28rem;  
    font-size: 2.4rem;
    letter-spacing: .4rem;
}
.stories-container{
    height: 90vh; 
}
.title-p1{
    font-size: 1rem;
}
.text-p1{
    font-size: 0.7rem;
}
.text-p2{
    font-size: 0.7rem;
}
.features-container{
    display:block;
    height:100%;
    width:100%;
    padding:1.5rem;
    gap: 1.5rem;
}
.features-title{
    font-size: 1rem;
}
.contact-title{
    font-size:1.5rem;
}
.contact-p{
    font-size: 1rem;
}
.items-font i{
    font-size: 2.3rem;
}