@media (max-width:1440px) {
    
    h1{
        top:38rem;
        font-size: 5rem;
    }

    .stories-picture{
        background-image: url('../Image/misty_forest.jpg');
        background-position: center; 
        background-size: cover;
    }

    .stories-picture{
        background-position: top; 
    }

    .title-p1{
        font-size: 3rem;
    }

    .text-p1{
        font-size: 2rem;
    }

    .text-p2{
        font-size: 2rem;
    }

    .fa-arrow-circle-up{
        font-size: 8rem;
    }
}


@media (max-width:1120px) {
    
    h1{
        top:35rem;
        font-size: 5rem;
    }

    .stories-picture{
        background-image: url('../Image/misty_forest.jpg');
        background-position: center; 
        background-size: cover;
    }

    .stories-picture{
        background-position: top; 
    }

    .title-p1{
        font-size: 1.9rem;
    }

    .text-p1{
        font-size: 1.5rem;
    }

    .text-p2{
        font-size: 1.5rem;
    }

    .fa-arrow-circle-up{
        font-size: 8rem;
    }
}

@media (max-width:768px){
 
    .nav-links {
        position: fixed;
        left: -100%;
        top: 5.3rem;
        flex-direction: column;
        width: 100%;
        border-radius: 0 0 2rem 2rem;
        text-align: center;
        transition: .5s;
        background: rgba(211, 211, 211, 0.8);
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link{
        color: rgb(22, 22, 22);
    }

    .nav-link:hover{
        cursor: pointer;
        color: rgb(51, 51, 51);
    }

    .nav-links.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
    }

    h1{
        top:25rem;
        font-size: 3.5rem;
    }

    .stories-picture{
        background-position: top; 
    }

    .title-p1{
        font-size: 1.7rem;
    }

    .text-p1{
        font-size: 1.4rem;
    }

    .text-p2{
        font-size: 1.4rem;
    }

    .features-container{
        height: 530vh;
    }

    .features-title{
        font-size: 1.7rem;
    }

    .contact-title{
        font-size: 1.7rem;
    }

    .contact-p{
        font-size: 1.4rem;
    }

    .items-font i{
        font-size:4rem;
    }
}

@media (max-width:425px) {
    h1{
        top:25rem;
        font-size: 2rem;
    }

    .text-p1{
        font-size: .7rem;
    }

    .text-p2{
        font-size: .7rem;
    }
    .features-container{
        height: 530vh;
    }
}

@media (max-width:375px) {

    h1{
        top:27rem;
        font-size: 1.6rem;
     }

    .stories-container{
        height: 85vh;
    }

    .title-p1{
        font-size: 1rem;
    }

    .features-container{
        height: 465vh;
    }
}

@media (max-width:320px) {
    
    .stories-container{
        height: 77vh;
    }

    .title-p1{
        font-size: .8rem;
    }

    .text-p1{
        font-size: .6rem;
    }

    .text-p2{
        font-size: .6rem;
    }

    .features-container{
        display:block;
        height: 400vh;
        padding:15px;
        gap: 15px;
    }
    
    .features-title{
        font-size: .8rem;
    }

}

