*, ::before, ::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 62.5%;
    filter: grayscale(15%);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
}

.logo{
    color: rgb(51, 51, 51);
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-links{
    width: 40%;
    font-size: 2.5rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links a{
    display: flex;
    align-items: center;
    color: rgb(112, 112, 112);
}

.nav-links a:nth-child(4){
    display: none;
}

/***************** Header */

header{
    height: 100vh; 
    width:100%;
    background: url('../image/forest_mist_main_image.jpg');
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    margin: 0;
    font-size: 5rem;
    background-image: linear-gradient(to left, #141414, rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    text-transform: uppercase;
    top:29rem;
    letter-spacing: 5px;
}

/* Stories */

.stories-container{
    display: grid;
    grid-template-rows: repeat(20, 1fr); 
    grid-template-columns: repeat(10, 1fr); 
    width: 100%;
    height: 140vh; 
    padding:4vh;
    gap: 10px;
    background-color: rgb(7, 7, 7);
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 15%, rgb(29, 29, 29) 100%, rgba(242,242,242,1) 80%); */
}

.title-p1{
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 2.6rem;
    color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #141414, rgb(175, 175, 175));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-p1{
    grid-column: 1/4;
    grid-row: 4/8;
    font-size: 1.6rem;
    color: rgb(122, 122, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories-picture{
    grid-column: 4/-1;
    grid-row: 1/11;
    background-image: url('../Image/man_hoodie_yellow_walk_misty_forest.jpg');
    background-position: center; 
    background-size: cover;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border-radius: 5px;
}

.text-p2{
    grid-column: 1/4;
    grid-row: 11/-1;
    font-size: 1.6rem;
    color: rgb(122, 122, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories-picture-2{
    grid-column: 4/-1;
    grid-row: 11/-1;
    background-image: url('../Image/man_hoodie_yellow_walk_misty_forest.jpg');
    background-position:bottom; 
    background-size: cover;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    border-radius: 5px;
}

/* Features */

.features-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(14, 1fr); 
    width: 100%;
    height: 210vh; 
    padding:4vh;
    gap: 15px;
    background-color: rgb(7, 7, 7);
}

.features-title{
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 2.6rem;
    color: rgb(196, 196, 196);
    display: flex;
    align-items:flex-start;
    justify-content: left;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #2c2c2c, rgb(175, 175, 175));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.galery-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.image1{
    grid-column: 1/4;
    grid-row: 2/7;
}

.image2{
    grid-column: 4/-1;
    grid-row: 2/5;
}

.image3{
    grid-column: 1/4;
    grid-row: 7/12;
}

.image4{
    grid-column: 4/8;
    grid-row: 5/12;
}

.image5{
    grid-column: 8/11;
    grid-row: 5/12;
}

.image6{
    grid-column: 1/8;
    grid-row: 12/15;
}

.image7{
    grid-column: 8/-1;
    grid-row: 12/15;
}


/* make the responsive  stories and features part */
