
h1{
    top:30rem;  
    font-size: 2.8rem;
    letter-spacing: .4rem;
}
.stories-container{
    height: 90vh; 
}
.title-p1{
    font-size: 1.3rem;
}
.text-p1{
    font-size: .8rem;
}
.text-p2{
    font-size: .8rem;
}
.features-container{
    display:block;
    height:100%;
    width:100%;
    padding:1.5rem;
    gap: 1.5rem;
}
.features-title{
    font-size: 1.3rem;
}
.contact-title{
    font-size:1.3rem;
}
.contact-p{
    font-size: 1.2rem;
}
.items-font i{
    font-size: 2.5rem;
}